services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env.docker.local
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=/my_site/api
      - API_URL=http://localhost:3000/my_site/api
    command: sh -c "npm run build && npm run start"
    restart: unless-stopped
