/* styles/ArticleContent.css */

.articleContent {
  margin-bottom: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  @media (min-width: 1024px) {
    width: calc(100% - 352px);
  }
}

/* ------------------------- */
/* 見出し */
/* ------------------------- */
.articleContent h2 {
  border-bottom: 2px solid teal;
  margin-bottom: 1.1rem !important;
  margin-top: 2.3em !important;
  padding-bottom: 0.3em !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}
@media (prefers-color-scheme: dark) {
  .articleContent h2 {
    border-bottom: 2px solid #80CBC4;
  }
}

.articleContent h3 {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* ------------------------- */
/* 文字関係 */
/* ------------------------- */
.articleContent p {
  margin: 16px 0;
  font-size: 16px;
  line-height: 1.9;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.truncate2Lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.articleContent p + img,
.articleContent div + img,
.articleContent img + p,
.articleContent img + div {
  padding-top: 16px; /* 画像の前後にスペースを追加 */
}

/* ------------------------- */
/* リスト */
/* ------------------------- */
.articleContent ol,
.articleContent ul {
  list-style: initial;
  padding-left: 1rem;
  margin: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.articleContent ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.articleContent ul {
  list-style-type: disc;
  margin-left: 20px;
}

.articleContent li {
  margin-bottom: 0.5rem;
}

/* ------------------------- */
/* 引用 */
/* ------------------------- */
.articleContent blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin: 0.5rem 0;
  color: #555;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.articleContent blockquote blockquote {
  border-left: 4px solid #aaa;
  padding-left: 16px;
  margin-left: 0;
  color: #333;
}

/* ------------------------- */
/* コードブロック */
/* ------------------------- */
.articleContent code {
  border-radius: 0.25rem;
  white-space: pre;
  word-wrap: break-word;
}

/* ------------------------- */
/* 表 */
/* ------------------------- */
.articleContent table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.articleContent th,
.articleContent td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.articleContent th {
  background-color: #f3f4f6;
  color: #4b5563;
}

.articleContent td {
  background-color: white;
  color: #4b5563;
}
