@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  /* フォントの設定 */
  .noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    @apply text-main-black;
  }
  .dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    @apply text-main-black;
  }

  /* 共通で使用するスタイル */
  body {
    /* 背景色と文字色 */
    @apply bg-main-white;

    /* 縦横の余白 */
    main {
      @apply pt-32 md:pt-40; /* ヘッダー分の余白 */
    }
    section {
      @apply container mx-auto p-4;
      h2 {
        @apply my-8;
      }
    }

    /* 各テキストのフォント（サイズ・種類・太さ） */
    h1 {
      @apply text-3xl md:text-4xl noto-sans-jp font-bold;
    }
    h2 {
      @apply text-2xl md:text-3xl noto-sans-jp font-bold;
    }
    h3 {
      @apply text-lg md:text-2xl leading-loose md:leading-loose noto-sans-jp font-semibold;
    }
    p {
      @apply text-sm md:text-base leading-snug md:leading-loose noto-sans-jp;
    }
  }
}
