.wrapper {
  position: relative;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.title {
  display: inline-block;
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: #323e52;
  padding: 0.55rem 1rem;
  margin-top: 15px;
  color: white;
  font-size: 0.8rem;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
}

.container {
  position: relative;
}

.code {
  border-radius: 0.3rem;
  padding: 1.5rem;
}

.codeWithTitle {
  border-radius: 0 0.3rem 0.3rem 0.3rem;
  padding: 1.5rem;
  margin-top: 0;
}
